
body{
    background-image: url("./cmpl_img/com2.jpg");
}
.form-container{
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    width: 25%;
    height: 60%;
    margin-top: 150PX;
    margin-left: 40%;
    background-color: beige;
}
.form-container input{
    width: 80%;
    margin-top: 25px;
    height: 30px;
}
.form-container select{
    margin-top: 25px;
    width: 80%;
    height: 30px;
}
.form-container p a{
    color: tomato;
    font-weight: bolder;
}
.form-container .form-btn{
    color: tomato;
    background-color: aquamarine;
    font-weight: bolder;
    font-size: 20px;
}